.description{
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}
.head-area{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-area{
    width: 80%;
    background: #cec7ff;
    border: 1px solid;
}
.row{
    text-align: center;
    margin-top: 20px;
}
label{
    display: block;
}
.creation-button{
    margin-top: 20px;
    text-align: center;
}
h2{
    display: block;
    background: #b6adfb;
    text-align: center;
}
#tasks-table-div{
    margin-top: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    table-layout: fixed;
}

thead {
    background-color: #007BFF;
    color: white;
}


td {
    background-color: #f1f1f1;
    border: 1px solid;
    text-align: center;
}
#check-column{
    width: 30px;
}

input[type="checkbox"] {
    margin-right: 10px;
}
