<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <form action="/login" method="POST">
        <div class="account-management">
            <div class="account-management-content">
                <h1>Login</h1>
                <div class="fields">
                    <p th:text="${error}"></p>
                    <div class="row">
                        <label for="email">E-mail</label>
                        <input name="email" id="email">
                    </div>
                    <div class="row">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password">
                    </div>
                </div>
                <div class="actions">
                    <button class="confirm-button">login</button>
                    <a th:href="@{/create-account}">Create Account</a>
                </div>
            </div>
        </div>
    </form>
</body>
</html>